<div class="main">
  <div class="lefttext">
    <h1><span class="hole"> Hello I'm</span>  <span class="bold"> Ewerton Luan.</span> <br> <span class="bold">Full Stack <span class="hole"> Developer</span> <br></span> <span class=hole>From Brazil</span></h1>
    <p>Full Stack Developer with a strong background in Java and Spring Boot for backend development, as well as Typescript and Angular for building dynamic and responsive user interfaces on the frontend.</p>
    <div class="symbols">
      <app-symbols [url]="'https://github.com/carvalhoewerton'" [img]="'assets/symbols/githubb.png'"></app-symbols>
      <app-symbols [url]="'https://www.linkedin.com/in/luanewerton/'" [img]="'assets/symbols/ld1.png'"></app-symbols>
      <app-symbols [url]="'https://instagram.com/ewertonlcs'" [img]="'assets/symbols/ig.png'"></app-symbols>


    </div>
  </div>

  <div class="rightimg"><img src="assets/undraw_feeling_proud_qne1.svg" alt="" srcset=""></div>


</div>

