.main{
  height:250px;
  width:900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 60px;
  margin-left:61px;


}
.main img{
  border:none;
  outline: none;
  width:240px;
  height:240px;
  border-radius:10px;
  margin-right:190px;
  margin-left:65px;

}
.texto{
 width:60%;
 margin-left: -126px;
 margin-right:-10px;
}
a {
  text-decoration: none !important;

  color: grey;
  h2{
    color:white;
  }
  p{
    font-family: 'Graphik';
  }
}

@media(max-width:450px){

  .main{
    flex-direction: column;
    height:481px;
    margin-bottom: 0px;
    margin-top:0px;
    background-color: transparent;
    margin-left:-4px;
  }
  .pic img{
    transform: scale(0.8);
    margin-right:50px;
    margin-left: -365px;
  }
  .texto{
    width:350px;
    height:100px;
    margin-left: -491px;
    margin-right:-10px;

    h2{
      align-items: center;
      justify-content: center;
      display: flex;
    }
    p{
      height:100%;
    }

   }

 }
